.headerWrapper {
  position: relative;
  width: 100%;
  color: #fff;
  padding: 20px 0 10px 0;
  border-bottom: 1px solid rgba($color: #fff, $alpha: 0.5);
}

.songName {
  margin: 0 auto 5px auto;
  text-align: center;
}

.artists {
  font-size: 20px;
  text-align: center;
}

.back {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  i {
    font-size: 50px;
    font-weight: bold;
  }
}
