.cover {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.coverImg {
  display: block;
  width: 100%;
  border-radius: 5px;
  background-color: #ddd; // height: 100%;
}

.playCountWrapper {
  position: absolute;
  font-size: 20px;
  color: #fff;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.2);
  margin: 0;
  top: 10px;
  right: 10px;
}

.playCountIcon {
  font-size: 18px !important;
  margin-right: 5px;
}

.listName {
  font-size: 24px;
  color: #333;
  margin: 10px auto;
}

.linkWrapper {
  display: block;
  width: 100%;
}

:global {
  .SVGInline {
    display: block;
    border-radius: 5px;
    background-color: #eee;
  }
}
