$ncmRed: #e24e48; // netease cloud music red
$headerBarHeight: 100px;
$bottomBarHeight: 100px;
@font-face {
  font-family: 'iconfont-cloud-music';
  /* project id 669459 */
  src: url('//at.alicdn.com/t/font_669459_irvqlcv7z3qv9529.eot');
  src: url('//at.alicdn.com/t/font_669459_irvqlcv7z3qv9529.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_669459_irvqlcv7z3qv9529.woff') format('woff'), url('//at.alicdn.com/t/font_669459_irvqlcv7z3qv9529.ttf') format('truetype'), url('//at.alicdn.com/t/font_669459_irvqlcv7z3qv9529.svg#iconfont-cloud-music') format('svg');
}

.iconfont-cloud-music {
  font-family: "iconfont-archer" !important;
  font-size: 1rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:global {
  html,
  body,
  #root {
    -webkit-overflow-scrolling: touch;    
    position: relative;
    height: 100%;
    overflow: hidden;
  }
  a {
    color: #fff;
    text-decoration: none;
  }
  img {
    content: normal !important;
  }
}