$ncmRed: #e24e48; // netease cloud music red
$headerBarHeight: 100px;
$bottomBarHeight: 100px;

@font-face {
  font-family: 'iconfont-cloud-music'; /* project id 669459 */
  src: url('//at.alicdn.com/t/font_669459_tj4tcpvwbkn.eot');
  src: url('//at.alicdn.com/t/font_669459_tj4tcpvwbkn.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_669459_tj4tcpvwbkn.woff') format('woff'),
    url('//at.alicdn.com/t/font_669459_tj4tcpvwbkn.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_669459_tj4tcpvwbkn.svg#iconfont-cloud-music') format('svg');
}

$base-font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial, 'PingFang SC', 'Hiragino Sans GB',
  STHeiti, 'Microsoft YaHei', 'Microsoft JhengHei', 'Source Han Sans SC', 'Noto Sans CJK SC', 'Source Han Sans CN',
  'Noto Sans SC', 'Source Han Sans TC', 'Noto Sans CJK TC', 'WenQuanYi Micro Hei', SimSun, sans-serif;

:global {
  html,
  body,
  #root {
    -webkit-overflow-scrolling: touch;
    position: relative;
    height: 100%;
    overflow: hidden;
    font-family: $base-font-family;
    outline: 0;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: transparent;
  }
  a {
    color: #fff;
    text-decoration: none;
  }
  img {
    content: normal !important;
  }

  .iconfont-ncm {
    font-family: 'iconfont-cloud-music' !important;
    font-size: 1rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@function height-by-width($width) {
  @return (750 / 1334 * $width) * 1px;
}
