:global {
  .slide-enter {
    opacity: 0;
    transform: translateX(100%);
  }
  .slide-enter.slide-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: all 2s ease-in;
  }
  .slide-exit {
    opacity: 1;
    transform: translateX(0);
  }
  .slide-exit.slide-exit-active {
    opacity: 0;
    transform: translateX(-100%);
    transition: all 2s ease-out;
  }
  .slide-appear {
    opacity: 0.01;
  }
  .slide-appear.slide-appear-active {
    opacity: 1;
    transition: opacity 2s ease-in;
  }
}

.routeWrapper {
  height: 100%;
  padding: 44px 0;
  // flex-grow: 1;
  // overflow: auto;
}

.rootWrapper {
  background-color: #aaa;
  height: 100%;
  overflow: auto;
  // position: relative;
  // display: flex;
  // flex-direction: column;
}

.transitionGroup{
  position: relative;
}