:global {
  .switch-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
  }
  .switch-wrapper>div {
    position: absolute;
    height: 100%;
    width: 100%;
  }
}

.routeWrapper {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.rootWrapper {
  background-color: #aaa;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.transitionGroup {
  position: relative;
}