@import '@/constant/style.scss';

.bottomBar {
  position: absolute;
  left: 0;
  right: 0;
  height: 44px;
  bottom: 0;

  display: flex;
  bottom: 0;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: $bottomBarHeight;
  margin: 0;
  padding: 10px;
  list-style-type: none;
  background-color: #ececec;
  border-top: 1px solid #eee;
  bottom: 0;
  li {
    width: 20%;
    text-align: center;
  }
}
