@import '@/constant/style.scss';

.back {
  display: block;
  height: $headerBarHeight;
  color: rgba(255, 255, 255, 0.7);
  line-height: $headerBarHeight;
  font-weight: bolder;
  padding-left: 30px;
  i {
    font-size: 40px;
  }
}
