@import '@/constant/style.scss';

.wrapper{
  position: relative;
  background-color: $ncmRed;
}

.slideNav{
  display: flex;
  position: relative;
  list-style-type: none;
  justify-content: center;
  a{
    padding: 10px 80px;
  }
}

.slider{
  transition: all ease 0.5s;
  position: absolute;
  bottom: 0px;
  width: 80px;
  left: 0;
  height: 6px;
  background-color: #fff;
  border-radius: 3px;
}

.index0{
  transform: translate(190px, 0);
}

.index1{
  transform: translate(480px, 0);
}