.coverImg {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  margin-right: 30px;
}

.wrapper {
  display: flex;
  padding: 10px 30px;
  border-bottom: 1px solid #eee;
  box-sizing: border-box;
}

.previews {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 40px 0;
  font-size: 20px;
  line-height: 40px;
  color: #333;
}
