:global {
  .swipper-wrapper {
    position: relative;
  }

  .swipper-item {
    text-align: center;
    width: 100%;
    .swipper-image {
      width: 100%; // height: 2.2rem;
    }
  }

  .swiper-dots {
    position: absolute;
    width: 100%;
    bottom: .07rem;
    text-align: center;
    .dot {
      display: inline-block;
      width: 15px;
      height: 3px;
      margin-right: 10px;
      background: #d6d7d8;
      &.active {
        background: #b4282d;
      }
    }
  }
}

.carouselWrapper {
  background-color: yellow;
}

.loading {
  background-color: #ccc;
  width: 100%;
  height: 300px;
}