@import '@/constant/style.scss';

.customWrapper {
    margin: 0;
    width: 200%;
    text-align: center;
    background-color:$ncmRed;
    height: 100%;
    overflow-x: scroll;
    overflow-y:hidden;
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.custom {
    height: 3750px;
    background-color: #fff;
}

.dj {
    background-color: #fff;
    height: 750px;
}

.showDj {
    transform: translate3d(-50%, 0, 0)
}

.showCustom {
    transform: translate3d(0, 0, 0)
}

.innerWrapper {
    flex-shrink: 0;
    box-sizing: border-box;
    margin: 205px 0 44px 0;
    width: 50%;
    height: 100%;
    overflow-x: auto;
    overflow-y: auto;
}

.banners{
    border-radius: 10px;
    margin: 0 auto 10px auto;
    width: 98%;
    overflow: hidden;
}