@import '@/constant/style.scss';

.wrapper {
    margin: $headerBarHeight 0 $bottomBarHeight 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    height: 750px;
    background-color: red;
}
